/* *, *::before, *::after { box-sizing: border-box; } */
:root {
    --primary-dark-color: #082032;
    --primary-medium-color: #93B1A6;
    --accent-light-color: #334756;
    --accent-medium-color: #2C394B;
    --font: Arial, sans-serif;
}

body { 
    background-color: var(--primary-dark-color);
    color: var(--accent-medium-color);
    text-align: center;
    display: flex;
    flex-direction: column;
}


.container {
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #999;
    width: auto;
    height: auto;
    background-color: #ccc;
}


input {
    font-size: 1.75rem; 
    letter-spacing: 1px;
    text-align: center; 
    padding: 7px; 
    font-weight: bold;
    color: #fff;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(217, 44, 13);
}

img {
    width: 550px;
    height: auto;
}

p {
    font-size: 1.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {

        width: auto;
        height: auto;

    }
}
